body{
    background-color: #e8edf6;
}
.slider-image {
  animation: zoomIn 8s ease-in-out forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

